<!doctype html>
<html lang="en" class="h-100">

<head>
    <title>Weather API</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Marvin's Weather API for educational purposes, built with FastAPI">
    <meta name="author" content="Marvin Lomo">

    <style>
        main>.container {
            padding: 60px 15px 0;
            margin-bottom: 5rem;
        }

        .sticky-footer {
            position: sticky;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body class="bg-dark text-light h-100">
    <div class="container h-100 mt-5">
        <div class="row">
            <div class="col-md-2">
                <!-- <h1>Weather API</h1> -->
            </div>
            <div class="col-md-10 mt-5">
                <div>
                    {% block content %}

                    <div class="content">
                        THIS PAGE HAS NO CONTENT
                    </div>
                    {% endblock %}

                </div>
            </div>
        </div>


    </div>
    <footer class="footer mt-auto py-3 bg-light sticky-footer copyright">
        <div class="container-fluid text-center">
            <span class="text-muted">Copyright &copy Marvin Lomo</span>
        </div>
    </footer>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous">
    </script>
</body>

</html>